[Unit]
Description=f3
Documentation=https://github.com/spreadshirt/f3
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
User=www-data
Group=www-data
; systemd>=232: Remove `User` and `Group` directives and enable `DynamicUser`
; DynamicUser=true
EnvironmentFile=/etc/default/f3
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/sbin/f3 ${EXTRA_OPTS}\
    --ftp-addr="${FTP_ADDR}"\
    --features='put'\
    --no-overwrite\
    --s3-credentials="${S3_KEY}:${S3_SECRET}"\
    --s3-bucket="${S3_BUCKET}"\
    --s3-region="${S3_REGION}"\
    /etc/f3/ftp-credentials.txt
PIDFile=/var/run/f3/f3.pid
Restart=on-failure
; restrictions
PrivateDevices=true
PrivateTmp=true
ProtectSystem=full
ReadOnlyPaths=/etc/f3
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

; See: man systemd.exec or systemd.directives

; vim: set syntax=systemd:
